header[role="banner"]
    background-color: transparent
    padding-left: $gutter-mobile
    padding-right: $gutter-mobile
    top: 0
    @include media-breakpoint-down(lg)
        --header-height: #{$header-height-mobile}
    @include media-breakpoint-up(md)
        left: 0
        right: 0

    > nav > .container
        background-color: $header-background-color
        border-radius: 2.75rem
        padding: .75rem 1.75rem

    