{{- $class := "hero" -}}
{{- $hero := .Params.hero -}}
{{- if partial "func/HasHero" . -}}
  {{- with $hero -}}
    {{- with .align -}}
      {{- $class = printf "%s hero-%s" $class . -}}
    {{- end -}}
    {{- with .image -}}
      {{- $class = printf "%s hero-with-image" $class -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- $hero = dict "title" .Title "text" .Description -}}
{{- end -}}
<header class="{{ $class }}" {{- partial "func/SetAnim" (dict "element" "hero") }}>
  {{ partial "commons/hero/cover.html" .Params.hero }}
  <div class="container">
    <div class="row">
      {{ partial "commons/hero/content.html" $hero }}
      {{ partial "commons/hero/media.html" $hero }}
    </div>
  </div>
</header>